<div
  class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-purple-800 bottom-0 leading-5 h-full w-full overflow-hidden">
</div>
<div class="relative min-h-screen flex items-center justify-center">
  <div class="p-8 bg-white shadow-xl rounded-3xl w-full max-w-lg">
    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Recuperar Contraseña</h1>
      <p class="text-sm text-gray-500">Ingresa tu correo electrónico para restablecer tu contraseña</p>
    </div>
    <form (ngSubmit)="onSubmit()" #recoveryForm="ngForm" class="space-y-6">
      <div class="space-y-2">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          class="w-full px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-300 rounded-lg text-gray-800 focus:outline-none focus:ring-2 focus:ring-purple-500"
          required
          [(ngModel)]="email"
          name="email"
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-red-500 text-sm">
          El correo electrónico es requerido y debe ser válido.
        </div>
      </div>
      <button
        type="submit"
        class="w-full bg-purple-700 text-white py-3 rounded-lg hover:bg-purple-600 focus:outline-none focus:ring-4 focus:ring-purple-400 transition-all duration-300"
        [disabled]="recoveryForm.invalid">
        Enviar Solicitud
      </button>
    </form>
    <div *ngIf="responseMessage" class="mt-4 text-center text-sm" [ngClass]="{'text-green-500': isSuccess, 'text-red-500': !isSuccess}">
      {{ responseMessage }}
    </div>
  </div>
</div>
